:root {
  --nav-primary-font-family: var(--avenir-bold);
  --nav-primary-font-size: var(--body-font-size-xxs);
  --nav-brand-top-margin: 0.25rem;
  --nav-section-max-width-768: 350px;
  --products-items-per-col: 13;
  --blue: #0082cb;
  --red: #c30e2e;
  --nav-secondary-highlight-gray-color: #6f6f6f;
  --menu-bg-color: #888;
  --translate-menu-font-color: #212529;
  --translate-menu-hover-bg-color: #65646a;
}

/* Nav Brand section */
.header .nav-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navy-blue);
  height: var(--nav-height);
}

/* Brand logo */
.header .nav-brand .logo {
  height: auto;
  width: auto;
  min-width: 9rem;
  max-width: 12.5rem;
  margin-top: 0.5rem;
  margin-left: 3.5rem;
}

/* Nav Brand Right Side */
.header .nav-brand .nav-brand-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  margin-right: 3.5rem;
}

@media (width < 900px) {
  .header .nav-brand .logo {
    margin-left: 1rem;
  }

  .header .nav-brand .nav-brand-right {
    margin-right: 1rem;
  }
}

.header .translate-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 0.5rem;
}

/* Translate icon */
.header .translate-menu .translate-icon {
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  background: url('/icons/icon-translate.png') no-repeat center;
}

.header .lang-submenu {
    display: none;
    list-style-type: none;
    z-index: 10;
    background-color: var(--menu-bg-color);
    top: 2.2rem;
    border-radius: 0;
    width: 9.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header .lang-submenu li {
    line-height: 1.2rem;
    margin-left: -2.5rem;
    text-align: left;
    font-family: var(--avenir-regular)
}

.header .lang-submenu::before {
    content: '►';
    display: inline-block;
    color: var(--menu-bg-color);
    transform: rotate(-90deg);
    position: absolute;
    top: -1rem;
    left: 8%;
}

.header .lang-submenu a {
    width: 100%;
    text-decoration: none;
    color: var(--translate-menu-font-color);
    padding: 0.3125rem 1.25rem;
    margin: 0;
    font-size: var(--body-font-size-xs);
    display: block;
}

.header .lang-submenu a:hover {
    background-color: var(--translate-menu-hover-bg-color);
    width: auto;
}

.header .icon-login {
    display: inline-block;
    background: url('/icons/icon-login.png') no-repeat center;
    width: 1.94rem;
    height: 1.94rem;
    position: relative;
    z-index: 10;
}

.header .icon-search {
    display: inline-block;
    margin-top: var(--nav-brand-top-margin);
    background: url('/icons/search-solid.svg') no-repeat center;
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    z-index: 10;
    filter: brightness(0) invert(1);
}

.header .text-login {
  vertical-align: middle;
  color: white;
  font-family: var(--avenir-regular);
  font-size: 0.9rem;
  margin-top: var(--nav-brand-top-margin);
  margin-right: 0.6rem;
  text-transform: uppercase;
}

.header .text-search {
  vertical-align: middle;
  color: white;
  font-family: var(--avenir-regular);
  font-size: 0.9rem;
  margin-top: var(--nav-brand-top-margin);
  margin-right: 1rem;
  text-transform: uppercase;
}

nav ol, nav ul {
  list-style: none;
}

nav a.button:any-link {
  all: unset;
  color: white;
  cursor: pointer;
}

.nav-secondary {
  display: none;
}

.nav-secondary a {
  color: white;
}

@media (width >= 900px) {
  .nav-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: sections;
    flex: 1 1 auto;
    background-color: var(--light-gray);
    font-family: var(--nav-primary-font-family);
    font-weight: 500;
    font-size: var(--nav-primary-font-size);
    line-height: 3.2rem;
    color: var(--navy-blue);
  }

  .nav-primary ol {
    display: flex;
    padding-left: 0;
    justify-content: center;
    gap: calc(100vw/15);
    cursor: pointer;
    margin: 0;
  }

  /* common styles for secondary nav */
  .nav-secondary[aria-expanded="true"] {
    display: block;
    white-space: nowrap;
    position: absolute;
    text-align: left;
    margin-top: 0.5rem;
    background-color: var(--menu-bg-color);
    color: white;
    transition: right 0.3s ease;
    font-family: var(--avenir-regular);
    font-size: var(--body-font-size-xxs);
    border-radius: 5px;
    z-index: 10;
  }

  .default-content-wrapper > ol > li::before {
    content: "+";
  }

  .nav-secondary[aria-expanded="true"] .default-content-wrapper ul {
    display: flex;
    visibility: visible;
    flex-direction: column;
    padding: 1rem;
    line-height: 2rem;
    margin: -0.5rem;
  }

  .nav-secondary ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: pre-wrap;
  }

  .nav-secondary ul li:hover {
    background-color: var(--navy-blue);
  }

  /* Order Products Styling */
  .nav-secondary-order-products {
    display: none;
  }

  .nav-secondary-order-products[aria-expanded="true"] {
    display: block;
    text-align: left;
    color: white;
    font-size: var(--body-font-size-xxs);
    position: fixed;
    margin-left: 25%;
  }

  .nav-secondary-order-products .columns > div {
    gap: 0;
    align-items: unset;
  }

  .nav-secondary-order-products .columns > div div {
    width: fit-content;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .columns .nav-order-products-col1 {
    margin-left: 1rem;
  }

  .columns .nav-order-products-col1 img {
    width: 10rem;
    height: 10rem;
  }

  .columns .nav-order-products-col2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .columns .nav-order-products-col3 {
    background-color: var(--nav-secondary-highlight-gray-color);
    margin-right: 1rem;
    width: 20rem;
    border-radius: 3px;
  }

  .columns .nav-order-products-col3 p {
    padding-left: 1rem;
    white-space: pre-wrap;
    width: 23rem;
  }

  .columns .nav-order-products-col3 ul {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    overflow: auto;
    padding-left: 1rem;
    text-decoration: underline;
  }

  /* Products nav styling */
  .nav-secondary-products {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
  }

  .nav-secondary-products .columns > div {
    align-items: unset;
  }

  .nav-secondary-products ul {
    display: grid;
    grid-template-rows: repeat(var(--products-items-per-col), auto);
    grid-auto-flow: column;
    grid-gap: 0;
    grid-column-gap: 0.8rem;
    overflow: auto;
    font-size: var(--body-font-size-xxs);
    margin-left: -3rem;
  }

  .nav-secondary-products ul li {
    width: max-content;
    max-width: calc(100vw/7);
    line-height: 0.8rem;
    text-align: left;
    padding: 0.5rem;
    white-space: pre-wrap;
  }

  .nav-products-categories {
    border-right: 1px solid var(--light-gray);
  }

  .nav-secondary .nav-products-categories li:hover {
    background-color: var(--orange);
  }

  .nav-products-industries {
    border-right: 1px solid var(--light-gray);
    margin-left: -1rem;
  }

  .nav-secondary .nav-products-industries li:hover {
    background-color: var(--blue);
  }

  .nav-products-brands {
    margin-left: -1rem;
  }

  .nav-products-brands p:first-child {
    font-size: var(--body-font-size-xs);
  }

  .nav-products-brands p:not(:first-child) {
    font-size: var(--body-font-size-xxs);
    white-space: pre-wrap;
    line-height: 1rem;
  }

  .nav-products-brands p a:hover {
    background-color: var(--red);
  }

}

@media (width < 900px) {
  .nav-primary {
    display: none;
    visibility: hidden;
    white-space: nowrap;
    position: fixed;
    text-align: center;
    top: 4rem;
    right: 0;
    width: 65%;
    height: 100%;
    background-color: var(--menu-bg-color);
    font-family: var(--nav-primary-font-family);
    font-weight: 500;
    font-size: var(--nav-primary-font-size);
    transition: right 0.3s ease;
    z-index: 2;
  }

  .nav-primary .default-content-wrapper {
    top: -1rem;
    position: relative;
  }

  .nav-primary[aria-expanded="true"] {
    display: block;
    visibility: visible;
  }

  .nav-primary ol {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: var(--navy-blue);
    position: relative;
    margin-left: -2.5rem;
  }

  .nav-primary ol li {
    line-height: 3rem;
  }

  .nav-primary ol > li:not([class])::before {
    content: "+";
  }

  .nav-primary ol > li:not([class]) {
    position: relative;
    font-weight: 800;
  }

  .nav-primary-products-li {
    position: relative;
    line-height: 3.5rem;
    text-align: left;
    padding-left: 1rem;
    color: white;
    font-family: var(--avenir-regular);
    font-size: var(--body-font-size-xs);
  }

  .nav-primary-products-li::after {
    content: "";
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 2rem;
    top: 50%;
  }

  .nav-primary-products-categories-li {
    background-color: var(--orange);
  }

  .nav-primary-products-industries-li {
    background-color: var(--blue);
  }

  .nav-primary-products-brands-li {
    background-color: var(--red);
  }

  .nav-secondary {
    position: fixed;
    text-align: center;
    top: 7.5rem;
    right: 0;
    width: 65%;
    color: white;
    z-index: 3;
  }

  .nav-secondary ul {
    right: 0;
    text-transform: none;
    text-align: left;
    font-family: var(--avenir-regular);
    font-size: var(--body-font-size-xs);
    font-weight: 400;
    margin-left: -1rem;
    line-height: 2.5rem;
    height: 85vh;
    overflow-y: auto;
  }

  .nav-secondary-product-brands p {
    font-size: var(--body-font-size-xs);
    text-align: left;
    margin-left: 1rem;
  }

  /* Order Products First hyperlink */
  .nav-secondary-order-products > .default-content-wrapper > p {
    text-align: left;
    margin-left: 1rem;
    font-family: var(--avenir-regular);
    font-size: var(--body-font-size-xs);
  }

  /* Order Products highlighted gray area */
  .nav-secondary-order-products .columns-wrapper {
    display: none;
  }

  nav[aria-expanded='true'] .nav-secondary-order-products .columns-wrapper {
    display: block;
    font-family: var(--avenir-regular);
    font-size: var(--body-font-size-xxs);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    padding: 1rem;
    background-color: var(--nav-secondary-highlight-gray-color);
    height: 8rem;
    text-align: left;
    border-radius: 3px;
  }

  .nav-secondary-order-products .columns-wrapper div > div {
    margin-bottom: 0.5rem;
  }
}

/* as handled in existing site */
@media screen and (width < 768px) {
  header nav .nav-primary,
   header nav .nav-secondary {
    max-width: var(--nav-section-max-width-768);
  }

  .header .text-login, .header .text-search {
    display: none;
    visibility: hidden;
  }
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 1.5rem;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: white;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 0.125rem;
  border-radius: 0.125rem;
  background: white;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -0.625rem;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 0.625rem;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  top: 0.2rem;
  height: 1.375rem;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 0.2rem;
  left: 0.0625rem;
  transform: rotate(45deg);
  transform-origin: 0.125rem 0.0625rem;
  width: 1.5rem;
  height: 0.125rem;
  border-radius: 0.125rem;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 0.1875rem;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger-icon  {
    display: none;
    visibility: hidden;
  }
}
