/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: black;
  --link-hover-color: black;
  --background-color: white;

  /* used in the header and disclaimer at the bottom of the page */
  --light-gray: #d0d0ce;
  --off-white: #f2f2f2;

  /* used in darker-color sections, and at very bottom of the page as the text color */
  --med-gray: #65646a;

  /* Used as the text color in the disclaimer at the bottom of the page */
  --dark-gray: #333;
  --text-color: black;

  /* Used in the header and footer as a background color and as a font color in the top nav row, and other sections as a background color */
  --navy-blue: #1a355e;

  /* Used in CTA buttons */
  --orange: #fd8e02;


  /* fonts */
  --body-font-family: var(--avenir-regular), roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 80px;

  /* Font families */
  --avenir-bold: "Avenir Next Cyr W00 Bold";
  --avenir-demi: "Avenir Next Cyr W00 Demi";
  --avenir-regular: "Avenir Next Cyr W00 Regular";
  --avenir-medium: "Avenir Next Cyr W00 Medium";
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

@media (width >= 1200px) {
  :root {
    --body-font-size-xxs: 13px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-gray);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--orange);
  padding: 3px 40px;
  border-radius: 12px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  filter: brightness(120%);
  cursor: pointer;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

.navy a.button.secondary, .dark a.button.secondary,
.navy button.secondar, .dark button.secondary {  
  border-color: var(--background-color);
  color: var(--background-color);
}

.navy a.button.secondary:hover, .dark a.button.secondary:hover,
.navy button.secondary:hover, .dark button.secondary:hover {  
  filter: none;
  border-color: rgb(255 255 255 / 60%)
}

button:disabled, button:disabled:hover {
  background-color: var(--light-gray);
  cursor: unset;
}

main {
  margin-top: 55px;
  padding-top: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  main {
    max-width: 1650px;
    margin: 55px auto 0;
  }
}

/* section metadata */
main .section.light {
  background-color: var(--light-gray);
}

main .section.dark {
  background-color: var(--med-gray);
  color: var(--background-color);
}

main .section.navy, .section.product-hero {
  background-color: var(--navy-blue);
  color: var(--background-color);
}

.section.product-hero h1 {
  text-align: center;
  font-weight: 100;
  margin:0.25em 0 0.85em;
}

.section.product-hero h1::after {
  content: " ";
  display: block;
  width: 1.5em;
  height: 8px;
  margin: auto;
  margin-top: 0.25em;
  background-color: var(--orange);
}

body.product .product-body {
  display: grid;
  grid-template-columns: 390px 1fr;
}

body.product .product-content .section {
  width: 99%;
}

body.product .product-content .section .default-content-wrapper {
  max-width: 825px;
  margin: auto;
}

/* Product template */
body.product .left-rail {
  background-color: var(--off-white);
  font-weight: 100;
  font-family: var(--avenir-regular);
  font-size: var(--body-font-size-m);
}

body.product .left-rail ul {
  list-style: none;
  padding: 0;
  margin: 6em 2em 0;
}

body.product .left-rail li {
  margin: 1em 0 0.6em;
}

body.product .left-rail .button-container {
  margin: 0;
  padding: 0;
  line-height: 0.85em;
}

body.product .left-rail a.button {
  width: 100%;
  padding: 1em;
  margin:0;
  border-radius:2em;
  line-height: 1.7em;
  font-family: var(--avenir-medium);
}

body.product .left-rail a.button.secondary {
  border-radius: 0;
  border:none;
  background-color: var(--light-gray);
  font-family: var(--avenir-regular);
}

body.product .left-rail a:any-link:not(.button), 
body.product .left-rail a.button.secondary {
  color: var(--navy-blue);
}